h1 {
	text-align: center;
}

section {
	display: block;
	height: 30px;
	width: 480px;
	margin: auto;

}

button {
	display:inline-block;
	height:20px;
	margin: 5px 28px;
	width: 100px;
}

.container {
	border:10px solid red;
	display: grid;
	grid-template-columns: repeat(16, auto);
	height:480px;
	margin: auto;
	width:480px;
	overflow: hidden;
}

.grid-item {
	background-color: white;
	height: calc(480px/16px);
	width: calc(480px/16px);
}

.colored {
	background-color: black;
}